body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
a{
    text-decoration: none;
    color: white;
}
header{
    
    display: flex;
    justify-content: center;
    background-color: white;
    img{
        width: 170px;
    }
}
.inicio{
    background-color: black;
    grid-column: span 2;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
    .foto{
        margin-top: 131px;
        align-self: center;
        background-position: center;
        position: absolute;
        width: 100%;
        height: 600px;
        top: 0;
        background-image: url(/img/check!.png);
        background-repeat: no-repeat;
      background-size: contain;
      
    }
    p{
        text-align: center;
        font-size: 30px;
        padding-top: 150px;
    }
    .foto:hover{
        opacity: 50%;
        cursor: pointer;
    }
}
.nombre{
    display: flex;
    justify-content: center;
    background-color: black;
    font-size: 30px;
    padding: 20px;
    margin-top: 5px;
}
h1{
    text-align: center;
    font-size: 75px;
}
.fondo{
    width: 100%;
    height: 100%;
    background-image: url(/img/fondo.jpeg);
    position: fixed;
    z-index: -1;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    left: 0;
    opacity: 70%;
}
.productos{
    display: flex;
    justify-content: center;
    .enlace{
        margin: 100px 25px;
        img{
            max-width: 250px;
        }
        .click{
            margin: 0;
        }
    }
}
.enlace{
    width: fit-content;
    margin: 100px auto;
    img{
        width: 100%;
        max-width: 400px;
    }
    .click{
        background-color: black;
        width: fit-content;
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
        p{  
            padding-left: 20px;
            font-size: 19px;
            display: none;
        }
        
    }
}
.enlace :hover{
    p{
        display: block;
    }
    img{
        opacity: 75%;
    }
}
.accesos{
    display: flex;
}
footer{
    grid-column: span 2;
    background-color: black;
    padding: 20px;
    text-align: center;
    font-size: small;
    .enlace{
        margin: 0 auto;
        .click{
            p{
                font-size: 15px;
            }
        }
    }
}
.contenido{
    h1{
        margin: 0;
    }
}
.producto{
    display: flex;
    .enlace{
        margin-top: 50px;
        a{
            img{
                width: 100%;
                max-width: 600px;
            }
        }
    }
    .info{
        color: black;
        margin: 0 80px;
        h1{
            text-align: left;
        }
        img{
            width: 600px;
        }
        select{
            padding: 10px;
            font-size: 15px;
        }
    }
    .enlace :hover{
        img{
            opacity: 100%;
        };
    }
}


@media screen and (max-width: 820px) {
    .productos{
        flex-wrap: wrap;
        .enlace{
            margin: 10px 0px;
            grid-column: span 1;
            padding: 10px;
        }
    }
    .accesos{
        display: block;
    }
    .enlace{
        grid-column: span 2;
        margin: 50px auto;
        img{
            max-width: 500px;
        }
    }
    .contenido{
        .producto{
            display: block;
        }
        .info{
            margin: auto;
            width: 400px;
            padding: 40px;
            background-color: black;
            color: white;
            h1{
                font-size: 50px;
            }
            img{
                width: 400px;
            }
        }
    }
}
@media screen and (max-width: 500px) {
    main{
        .inicio{
            margin-top: 0;
            height: 340px;
            .foto{
                margin-top: 0;
            }
            p{
                padding-top: 0;
            }
        }
        .productos{
            .enlace{
                
            margin: 50px auto;
            img{
                max-width: 500px;
            }
            }
        }
        .enlace{
            img{
                max-width: 300px;
            }
        }
        .accesos{
            display: block;
        }
    }
    .contenido{
        .productos{
            flex-wrap: nowrap;
        }
    }
}

